# Set the default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files
*.php text
*.md text
*.json text
*.yml text
*.yaml text

# Binary files
*.png binary
*.jpg binary
*.gif binary
